<!DOCTYPE html>
<html>
<body>


    @RenderBody();
    <footer>

        <div class="row">

            <div class="twelve columns content group">

                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                </ul>

                <hr />

              

            </div>

            <ul class="copyright">
                <li>&copy; Ourosys 2017</li>
                            </ul>

            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#hero">Back to Top<i class="fa fa-angle-up"></i></a>
            </div>

        </div> <!-- end row -->

    </footer> <!-- end footer -->
</body>
</html>
