<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Ourosys</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    
    <link href="~/assets/css/base.css" rel="stylesheet" />
    <link href="~/assets/css/vendor.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />



</head>

<body>

    <!-- header
    ================================================== -->
    <header id="main-header">

        <div class="row">

            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
                    <span class="menu-icon">Menu</span>
                </a>
                <ul id="nav" class="nav">
                    <li><a class="smoothscroll" href="#hero">Home</a></li>
                    <li><a class="smoothscroll" href="#services">Services</a></li>
                    <li><a class="smoothscroll" href="#about">About</a></li>
                    <li><a class="smoothscroll" href="#team">The Team</a></li>
                    <li><a class="smoothscroll" href="#contact">Contact</a></li>
                </ul> <!-- end #nav -->

            </nav> <!-- end #nav-wrap -->

            <ul class="header-social">
                
                @*//<li><a href="www.twitter.com/Ourosys"><i class="fa fa-twitter"></i></a></li>*@
                
            </ul>

        </div>

    </header> <!-- end header -->
    <!-- homepage hero
    ================================================== -->
    <section id="hero">

        <div class="row hero-content">

            <div class="twelve columns hero-container">

                <!-- hero-slider start-->
                <div id="hero-slider" class="flexslider">

                    <ul class="slides">

                        <!-- slide -->
                        <li>
                            <div class="flex-caption">
                                <h1 class="">
                                    We are <span>Ourosys</span>. We build tomorrow, today.
                                </h1>

                                <h3 class="">Do you need a plan? Are you looking for someone with real world skills to help you compete in the open market?
                                We understand that each customer has a unique set of needs, and we strive to help you achieve your goals. </h3>
                            </div>
                        </li>

                        <!-- slide -->
                        <li>
                            <div class="flex-caption">
                                <h1 class="">
                                    Set yourself apart
                                </h1>

                                <h3 class="">In the digital age it takes a lot to set yourself apart. With our designers hard at work, we can take you to the next level.</h3>
                            </div>
                        </li>

                        <!-- slide -->
                        <li>
                            <div class="flex-caption">
                                <h1 class="">
                                    
                                    <a class="smoothscroll" href="#contact" title="contact us">get in touch</a> to discuss how we can help you.
                                </h1>

                                <h3 class="">It all starts with an introduction</h3>
                            </div>
                        </li>

                    </ul>

                </div> <!-- end hero-slider -->

            </div> <!-- end twelve columns-->

        </div> <!-- end row -->

        <div id="more">
            <a class="smoothscroll" href="#services">More About Us<i class="fa fa-angle-down"></i></a>
        </div>

    </section> <!-- end homepage hero -->
    
    <!-- Services Section
    ================================================== -->
    <section id="services">

        <div class="row section-head">

            <div class="twelve columns">

                <h1>Services we provide</h1>

                <hr />

                <p>
                   With an ever expanding customer base, it is important that we keep up on the most recent trends in technology. We want to make sure we provide the best service in the industry. If you have any additional needs, please feel free to ask if we can accomodate.
                </p>

            </div>

        </div> <!-- end section-head -->

        <div class="row mobile-no-padding">

            <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">

                <div class="bgrid">

                    <h3>Marketing</h3>

                    <div class="service-content">
                        <p>
                           Here at Ourosys we believe in thinking outside the box. Understanding your market is key. Knowing who not to market too is just as important as knowing who to reach. We can help with market research, and connecting you with the correct influencers for your targetted market.
                        </p>
                    </div>

                </div> <!-- end bgrid -->

                <div class="bgrid">

                    <h3>Videography</h3>

                    <div class="service-content">
                        <p>
                            Collaboration is key. With our partner Semantic Effect, we can shoot, edit and deliver your final product.
                        </p>
                    </div>

                </div> <!-- end bgrid -->

                <div class="bgrid">

                    <h3>Photography</h3>

                    <div class="service-content">
                        <p>
                            A picture is worth a thousand words. We will facilitate the entire process from staging to delivery. 
                        </p>
                    </div>

                </div> <!-- end bgrid -->

                <div class="bgrid">

                    <h3>Branding</h3>

                    <div class="service-content">
                        <p>
                            With our design team hard at work you can rest assured that we will deliver the highest quality possible. 
                        </p>
                    </div>

                </div> <!-- end bgrid -->

                <div class="bgrid">

                    <h3>Web Design and Development</h3>

                    <div class="service-content">
                        <p>
                            With most web interactions happening on mobile,
                            doesn't it make sense to have your website be mobile friendly?
                            If you have two separate sites - mobile and otherwise - are you paying separate hosting fees?
                            Doesn't it make more sense to create one site that responds to the size of the screen the user is on? 
                            Thats where we come in.
                            At Ourosys we will build you a fully responsive website with your company branding.
                        </p>
                    </div>

                </div> <!-- end bgrid -->

                
            </div> <!-- end service-list -->

        </div> <!-- end row -->

    </section> <!-- end services -->
    <!-- About Section
    ================================================== -->
    <section id="about">

        <div class="row section-head">

            <div class="twelve columns">

                <h1>Who Are We</h1>

                <hr />

                <p>
                We are a company based out of Orange County, CA. Our mission is to provide our clients with an Experience like no other. We strive for perfection. We want to help you achieve your goals.
                </p>

            </div> <!-- end section-head -->

        </div>

        <div class="row mobile-no-padding">

            <div class="process bgrid-half tab-bgrid-whole group">

                <div class="bgrid">

                    <h3>Our Process</h3>

                    <p>
                        During our first phone call we will assess your needs and discuss the scope of the project. Once we have an understanding of the scope of the project we can discuss additional wants and needs.
                        From there we will work together towards achieving your vision for the project.
                    </p>

                </div>

                <div class="bgrid">

                    <h3>Our Approach</h3>

                    <p>
                        We believe that client interaction is vital to the success of a project. We want this experience to be as pleasant as possible for you. We will actively engage you in the design, development, and finishing touches of the project. 
                    </p>

                </div>

                <div class="bgrid">

                    <h3>Our Goal</h3>

                    <p>
                        There is no greater compliment than a referral of business. Our goal is to make sure you think of us first for all of your design and development needs. Doing great work doesn't just mean delivering great products. It means making sure the process is as seamless and fluid as possible.
                    </p>

                </div>


            </div> <!-- end process -->

        </div> <!-- end row -->


        <div class="row team section-head">

            <div class="twelve columns">

                <h1 id="team">Meet Our Team</h1>

                <hr />

            </div>

        </div> <!-- end section-head -->

        <div class="row">

            <div id="team-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">

                @*<div class="bgrid member">

                    <div class="member-pic">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAlEAAAAJDM5NjVkNWMwLTA4ZDMtNDAwNi1iMjc0LTI3YzM4NThiMjVhNg.jpg" alt="" />
                        <div class="mask"></div>
                    </div>
                    <div class="member-name">
                        <h3>Zachary Robertson</h3>
                        <span>CEO</span>
                    </div>

                    <p>
                        Zachary is a Full Stack Developer focusing on the Microsoft libraries. He has worked with development teams on numerous projects including the ground up development of Go Where I Go, a social media platform that will be launching in 2017. 
                    </p>

                    <ul class="member-social">             
                        <li><a href="linkedin.com/in/zacharyscottrobertson"><i class="fa fa-linkedin"></i></a></li>
                        
                    </ul>

                </div> <!-- end member -->*@

                <div class="bgrid member">

                    <div class="member-pic">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKZAAAAJDZjNTVjYzFhLTkxNmUtNGQ0Zi1hZjg1LWNmYTUyY2ZiZWMyMA.jpg" alt="" />
                        <div class="mask"></div>
                    </div>
                    <div class="member-name">
                        <h3>Thao Nguyen</h3>
                        <span>Creative Director</span>
                    </div>

                    <p>
                        Thao is a proven master of her craft. With experience in design with a number of large entertainment venues and individual modeling contracts.
                    </p>

                    <ul class="member-social">
                        <li><a href="facebook.com/thaophoto"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/thao-nguyen-48795134"><i class="fa fa-linkedin"></i></a></li>

                    </ul>

                </div> <!-- end member -->

                <div class="bgrid member">

                    <div class="member-pic">
                        <img src="~/assets/images/12-21-2016 2-00-30 PM.png" />
                        <div class="mask"></div>
                    </div>
                    <div class="member-name">
                        <h3>Kevin Johnson</h3>
                        <span>CTO</span>
                    </div>

                    <p>
                        Kevin is an avid technologist specializing in fintech. Along with creating Trade Archer, he also curates his own research firm 2PiR
                    </p>

                    <ul class="member-social">
                        
                        @*<li><a href="www.twitter.com/tradearcher"><i class="fa fa-twitter"></i></a></li>*@
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                    </ul>

                </div> <!-- end member -->

                <div class="bgrid member">

                    <div class="member-pic">
                        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAOBAAAAJGZjYWJkOTliLTkxMDAtNDdiMC1hMzYyLTkwYmUxM2MzNjk3Mg.jpg" alt="" />
                        <div class="mask"></div>
                    </div>
                    <div class="member-name">
                        <h3>Holly Rudosky</h3>
                        <span>Executive Assistant</span>
                    </div>

                    <p>
                        Holly is an organizational wizard. A side from being an exceptional assistant, Holly also handles day to day operations. With an passion rivaled only by her competitive spirit, Holly keeps the rest on track.
                    </p>

                    <ul class="member-social">
                        <li><a href="https://www.linkedin.com/in/holly-rudosky-83304131"><i class="fa fa-linkedin"></i></a></li>
                        
                    </ul>

                </div> <!-- end member -->

                <div class="bgrid member">

                    <div class="member-pic">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAiUAAAAJDYzZWU5MDQxLTViODYtNDBiZi04ZDdhLWFkZDFmYjA4OTU5NQ.jpg" alt="" />
                        <div class="mask"></div>
                    </div>
                    <div class="member-name">
                        <h3>Shauna Hultgrien</h3>
                        <span>Technical Writer</span>
                    </div>

                    <p>
                       Shauna is an avid traveler. There isn't a place in the world that she doesn't want to visit. When she can't travel she explores different realities with books. Perhaps most importantly, her true passion is my healthy obsession with The X Files.
                    </p>

                    <ul class="member-social">
                        <li><a href="https://www.linkedin.com/in/shauna-hultgrien-1049a5ab"><i class="fa fa-linkedin"></i></a></li>

                    </ul>

                </div> <!-- end member -->
            </div> <!-- end team-wrapper -->

        </div> <!-- end row -->

        

    </section>
   <!-- end about -->
<!-- Testimonials Section ================================================== -->
    <section id="testimonials">

        <div class="row content flex-container">

            <div id="testimonial-slider" class="flexslider">

                <ul class="slides">
                    <li>
                        <p>
                            Art should be a part of everyday life.
                        </p>

                        <div class="testimonial-author">
                            <img src="https://lh3.googleusercontent.com/-jhlYMVlxie4/VWpvazgZQbI/AAAAAAAACjY/aH0O50Jztl0/w768-h768/Craig%2BDubitsky%2Bspray%2Bfront.jpg" alt="Author image">
                            <div class="author-info">
                                Craig Dubitsky
                                <span class="position">Founder & CEO – Hello Products</span>
                            </div>
                        </div>
                    </li> <!-- end slide -->

                    <li>
                        <p>
                            You are competing with every piece of content ever made for every person’s attention. You need to be entertaining. Don’t outsmart. Out entertain.
                        </p>

                        <div class="testimonial-author">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/000/035/387/0f9aff9.jpg" alt="Author image">
                            <div class="author-info">
                                Dolf van den Brink
                                <span class="position">President & CEO – Heineken USA.</span>
                            </div>
                        </div>
                    </li> <!-- end slide -->

                    <li>
                        <p>
                            What separates design from art is that design is meant to be… <em>functional</em>.
                        </p>

                        <div class="testimonial-author">
                            <img src="https://media.licdn.com/media/p/1/005/0a6/3c5/054cf68.jpg" alt="Author image">
                            <div class="author-info">
                                Cameron Moll
                                <span class="position">‎Founder/CEO at Authentic Jobs, Inc</span>
                            </div>
                        </div>
                    </li> <!-- end slide -->

                    <li>
                        <p>
                            If you create a purpose, make sure you deliver on that purpose. It is the filter through which you make every decision.
                        </p>
                        <div class="testimonial-author">
                            <img src="http://newsroom.bankofamerica.com/sites/bankofamerica.newshq.businesswire.com/files/imagecache/portrait_fullnode_thumb/bio/images/Anne_Finucane.jpg" alt="Author image">
                            <div class="author-info">
                                Anne Finucane
                                <span>Global Chief Strategy and Marketing Officer – Bank of America.</span>
                            </div>
                        </div>
                    </li> <!-- end slide -->

                </ul> <!-- end slides -->

            </div> <!-- end flexslider -->

        </div> <!-- end row -->

    </section> <!-- end testimonials section -->
    <!-- contact
    ================================================== -->
    <section id="contact">

        <div class="row section-head">

            <div class="twelve columns">

                <h1>Get In Touch With Us</h1>
                <p class="lead">
                    We would love to hear from you! Please tell us a little about what we can do for you<span>.</span>

                    <h3>Contact Numbers:</h3>
                <p>
                    Phone: (657) 204-6852<br>
                </p>
                <p>
                    <a href="mailTo:sales@ourosys.com">Email: Sales@ourosys.com</a><br />
                </p> 
                <p>
                    <a href="mailTo:support@ourosys.com">Email: Support@ourosys.com</a><br />
                </p>
                <hr />

            </div>

        </div> <!-- end section-head -->

        

    </section>  <!-- end contact -->



    <!-- Java Script
    ================================================== -->

    <script src="~/assets/js/jquery-1.11.3.min.js"></script>
    <script src="~/assets/js/jquery.fittext.js"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/js/jquery.flexslider-min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.placeholder.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/modernizr.js"></script>
    <script type="text/javascript">
        

    </script>


    
</body>

</html>